<ion-view title="Directions" id="page12">
    <ion-content padding="true" class="has-header"  ng-repeat="(key, value) in array">
        
        <div class="item item-body" id="directions-list-item-container12">
            <div id="directions-markdown14" style="margin-top:0px;color:#000000;">
                <p>
                    <strong>
                    <!-- 1 -->
                    {{key}}
                    </strong>
                    <!-- Preheat oven to 425 degrees. -->
                    {{value}}
                    </p>
            </div>
        </div>
        
       
     
        
    </ion-content>
</ion-view>