<ion-view title="DRY GOODS" id="page16">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="dRYGOODS-list-item-container35">
      <form id="dRYGOODS-form8" class="list">
        <ion-checkbox id="dRYGOODS-checkbox1">Ketchup 0.2 cup</ion-checkbox>
        <ion-checkbox id="dRYGOODS-checkbox2">Kosher salt and freshly good paper</ion-checkbox>
        <ion-checkbox id="dRYGOODS-checkbox3">Olive Oil</ion-checkbox>
        <ion-checkbox id="dRYGOODS-checkbox4">Mascarpone</ion-checkbox>
        <ion-checkbox id="dRYGOODS-checkbox5">Lemon </ion-checkbox>
        <ion-checkbox id="dRYGOODS-checkbox6">Raspberries</ion-checkbox>
      </form>
    </div>
  </ion-content>
</ion-view>