<ion-view view-title="Free Recipes" id="page8">
    <ion-content padding="true" class="has-header">
        
        <ion-list id="weeklyMenu-list2" ng-repeat="item in data.items"> 
            
            <ion-item class="item-thumbnail-left" id="freeMenu-list-item4" 
            href="#/app/recipe/{{ item.id }}">
                                
                <h2 style="white-space:normal;">
                      {{ item.title }}                      
                </h2>
                
            </ion-item>
            <ion-item class="item-divider" id="freemenu-list-item-divider1"></ion-item>
            
        </ion-list>
        
        
    </ion-content>
</ion-view>