<ion-view title="Ingredients" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="ingredients-list10"  ng-repeat="(key, value) in array">

      <div class="item item-body" id="ingredients-list-item-container">
        <div id="ingredients-markdown" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
          2 tablespoons olive oil divided 
          {{value}}
          </p>
        </div>
      </div>

    </ion-list>



    <a href="#/app/playlists/{{playlist.id}}" id="ingredients-button5" 
    class="button button-positive  button-block icon-left ion-ios-arrow-back">
     Tap me!
     </a>
  </ion-content>
</ion-view>