<ion-view title="Login" id="page6">
  <ion-content padding="true" 
   class="has-header login-background"> <!-- @TODO move styles -->
    <h1 id="login-heading4">
      Welcome back!
    </h1>
    <form id="login-form1" class="list">
      <div class="spacer spacer-44"></div>
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer spacer-89"></div>
      <button id="login-button2" class="button button-royal  button-block">
      Log in
      </button>
    </form>

    <a href-inappbrowser="/signup" id="login-button3" 
       class="button button-light  button-block button-clear btn-create-profile">
       Or create an account
    </a> <!-- @TODO move styles -->
    
  </ion-content>
</ion-view>