<ion-view title="UX Single recipe" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="uXSingleRecipe-card23">
      <div class="item item-body" id="uXSingleRecipe-list-item-container10">

        <div id="uXSingleRecipe-markdown12" class="show-list-numbers-and-dots">
          <p class="markdown-text">
          <!-- Pork Tenderloin with Roasted Cherries -->
          {{}}
          </p>
        </div>
      </div>

      <div class=" item item-image">
        <img src="img/wUcqWeBSYmQNfkCtaw5s_dsc_0978.display.jpg" 
        class="recipe-image1" />
      </div>

      <div class="item item-body" id="uXSingleRecipe-list-item-container11">
        <div id="uXSingleRecipe-markdown13" class="show-list-numbers-and-dots">
          <p class="markdown-text">
          <!-- This sauce is, in one word, awesome!  -->
          {{}}
          </p>
        </div>
      </div>

      <ion-item class="item-icon-left assertive" id="uXSingleRecipe-list-item51">
        <i class="icon ion-android-time"></i>
        Timing
        </ion-item>

      <ion-item class="item-icon-left royal" id="uXSingleRecipe-list-item52" 
      href="#/app/ingredients/{{}}"
      >
        <i class="icon ion-egg"></i>
        Ingredients
        </ion-item>

      <ion-item class="item-icon-left positive" id="uXSingleRecipe-list-item53" 
      href="#/app/directions/{{}}">
        <i class="icon ion-ios-list-outline"></i>
        Directions
        </ion-item>

    </div>
  </ion-content>
</ion-view>