<ion-view title="Single Recipe" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/gYHPhcY7TvqHuy8b2Tv1_dsc_0978.display.jpg" 
      style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
      <!-- @TODO move styles -->
    </div>
    <h3 id="singleRecipe-heading2" style="color:#000000;"> <!-- @TODO move styles -->
    Pork Tenderloin with Roasted Cherries
    </h3>
    <div id="singleRecipe-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> <!-- @TODO move styles -->
      This sauce is, in one word, awesome! 
      </p>
    </div>

    <h4 id="singleRecipe-heading3" style="color:#000000;"> <!-- @TODO move styles -->
    Ingredients
    </h4>
    <div id="singleRecipe-markdown4" class="show-list-numbers-and-dots">

      <ul ng-repeat="ingredient in recipe.ingredients">
                    
          <li>                    
              {{ ingredient.quantity }}
              {{ ingredient.name }} - 
              {{ ingredient.type }}
          </li>
          

      </ul>
                

    <h4 id="singleRecipe-heading" style="color:#000000;"> <!-- @TODO move styles -->
      Directions
    </h4>

    

     

    </div>
  </ion-content>
</ion-view>