<ion-view view-title="Weekly Menu" id="weeklyMenu">
    <ion-content padding="true" class="has-header">
        <h2 id="weeklyMenu-heading1" 
            style="color:#000000;text-align:center;"> <!-- @TODO move styles -->

            {{data.meta.title}}
        </h2>
        <div id="weeklyMenu-markdown1" 
             style="color:#000000;text-align:center;"> <!-- @TODO move styles -->
            <p>
              {{data.meta.description}}             
            </p>
        </div>
        
        <ion-list id="weeklyMenu-list2" ng-repeat="item in data.items"> 
            
            
            <ion-item class="item-thumbnail-left" id="weeklyMenu-list-item4" 
            href="#/app/recipe/{{ item.id }}">
                
                <img src="{{ item.img }}" alt="{{ item.title }}">
                <h2 style="white-space:normal;"> <!-- @TODO move styles -->
                      {{ item.title }}                      
                </h2>
                <p style="white-space:normal;"> <!-- @TODO move styles -->
                    {{ item.weekDay }}                     
                </p>
                <h5 style="white-space:normal;"> <!-- @TODO move styles -->
                    {{ item.recipeDescription }}                     
                </h5>
                
            </ion-item>
            <ion-item class="item-divider" id="weeklyMenu-list-item-divider1"></ion-item>
            
        </ion-list>
        
        
        <button id="weeklyMenu-button1" class="button button-positive button-block"
        href="#/app/weeklymenu/{{item.id}}"> <!-- @TODO change later -->
            Previous week
        </button>
        
    </ion-content>
</ion-view>