<ion-view title="Single Recipe" id="page5 complex-recipe-{{meta.id}} url-{{meta.url}}">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{meta.img}}" 
           class="recipe-image1" />           
      
    </div>
    <h3 id="singleRecipe-heading2" class="black">
      
      {{meta.title}}
    </h3>
    <div id="singleRecipe-markdown2" class="show-list-numbers-and-dots">
      <p class="black">
        {{meta.description}} 
      </p>
    </div>


    ----------------
    recipes


    <div class="" id="" ng-repeat="recipe in items">

	    {{recipe.title}}
	    {{recipe.id}}
	    {{recipe.ingredients}}
	    {{recipe.steps}}
	    {{recipe.meta}}
----------------------
		<h4 id="singleRecipe-heading3" class="black"> 
	      Ingredients
	    </h4>

	    <div id="singleRecipe-markdown4" class="show-list-numbers-and-dots">

	      <ul ng-repeat="(key, value) in recipe.ingredients">
	                    
	          <li>                    
	              {{ value.quantity }}
	              {{ value.name }} - 
	              {{ value.type }}
	          </li>
	          

	      </ul>
	                

		    <h4 id="singleRecipe-heading" class="black">
		      Directions
		    </h4>

		    <ul ng-repeat="(key, value) in recipe.directions">
		                    
		          <li>
		              {{ key }}                
		              {{ value }}
		              
		          </li>
		          

			</ul>

	     

	    </div>

----------------------


    </div><!-- recipes list -->


  

  </ion-content>
</ion-view>