<ion-view title="Styled Single recipe" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="styledSingleRecipe-card22">
      <ion-item id="styledSingleRecipe-list-item21">
        {{title}}
      </ion-item>
      <div class=" item item-image">
        <img src="{{img}}"
        class="recipe-image1" /> 
      </div>
      <form id="styledSingleRecipe-form4" class="list">
        <label class="item item-select" id="styledSingleRecipe-select2">
          <span class="input-label">Servings</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </label>
      </form>
      <div class="item item-body" id="styledSingleRecipe-list-item-container2">
        <div id="styledSingleRecipe-markdown10" class="show-list-numbers-and-dots">
          <p class="markdown-text">
            {{description}} 
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="styledSingleRecipe-list-item20">
        <i class="icon ion-android-time"></i>Timing</ion-item>
      <ion-item id="styledSingleRecipe-list-item30">
      Preparation Time 15m

      </ion-item>
      <ion-item id="styledSingleRecipe-list-item31">
      Cook Time 35m

      </ion-item>
      <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider1"> </ion-item>

      <ion-item class="item-icon-left royal" 
      id="styledSingleRecipe-list-item23" 
      >
        <i class="icon ion-egg"></i>
        Ingredients
        </ion-item>

     
                

      <ion-list id="styledSingleRecipe-list" 
      ng-repeat="(key, value) in recipe.ingredients">
        <ion-item id="styledSingleRecipe-list-item24">
          {{ value.quantity }}
              {{ value.name }} - 
              {{ value.type }}
        </ion-item>

        
        <!-- 1.5 teaspoons kosher salt divided -->
         

      </ion-list>          




      
      <ion-item class="item-divider" id="styledSingleRecipe-list-item-divider2"> </ion-item>




      <ion-item class="item-icon-left" id="styledSingleRecipe-list-item32">
        <i class="icon ion-ios-list-outline"></i>
        Directions
        </ion-item>

        <ion-list id="styledSingleRecipe-list" 
      ng-repeat="(key, value) in recipe.directions">
        <ion-item id="styledSingleRecipe-list-item33">
          {{ key }}                
              {{ value }}
        </ion-item>



      </ion-list>  

    </div>
  </ion-content>
</ion-view>