<ion-view title="Recipes Calendar" id="page15">
  <ion-content padding="true" class="has-header">

    <ion-list id="recipesCalendar-list" ng-repeat="weekday in week" >

      <ion-item class="item-icon-left" id="recipesCalendar-list-item">
        <i class="icon ion-ios-nutrition-outline"></i>
        
        {{ weekday[0] }}
        </ion-item>

      <div class="item item-body" id="recipesCalendar-list-item-container">
        <div id="recipesCalendar-markdown" class="show-list-numbers-and-dots">
          <p class="p-fix"> 
          
          {{ weekday[1] }}
          </p>
        </div>
      </div>

      <ion-item class="item-divider" id="recipesCalendar-list-item-divider4"> </ion-item>

    


    </ion-list>

    

  </ion-content>
</ion-view>