<!-- Grocery settings is not a finished -->
<ion-view view-title="Grocery List Settings" id="page13">
  <ion-content padding="true" class="has-header">

  <!-- Not working -->
    <a href="#/app/gl/{{gl.id}}"  
       id="groceryListSettings-button6" 
       class="button button-positive button-block">
      Continue
    </a>

    <div class="wrapper" ng-repeat="(key, value) in array">
 
      <div class="item item-body" id="groceryListSettings-list-item-container">

        <div id="groceryListSettings-markdown20" class="show-list-numbers-and-dots">
          <p class="p-fix">
            <strong>            
            {{ value.title }}
            </strong>
          </p>
        </div>

        <form id="groceryListSettings-form" class="list">
          <label class="item item-select" id="groceryListSettings-select">
            <span class="input-label">
            Servings
            </span>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </label>
          <ion-toggle toggle-class="toggle-positive" 
          id="groceryListSettings-toggle2" data-id="{{value.id}}">
          Disable
          </ion-toggle>
          <input type="hidden" value="{{value.id}}" />
        </form>

      </div>

    </div>



  </ion-content>
</ion-view>